# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/
1C-predict-future-sales-data/
/ml-projects/Time Series prediction/1C-predict-future-sales/1C-predict-future-sales-data/
/ml-projects/internal-projects/
*.pkl

# Other files and folders
.settings/
Glooko.ipynb

# Executables
*.swf
*.air
*.ipa
*.apk

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
